/***********************************************************************************************************************
/*
/* Table of Contents
/*
/* 1. General Styles
/* 2. Header
/* 3. Terminals
/*
/*
/**********************************************************************************************************************/
/***********************************************************************************************************************
/*
/* 1. General Styles
/*
/**********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #424242;
  font-family: 'Ubuntu Mono'; }

main {
  flex: 1 0 auto; }

p {
  font-size: 1.1em;
  color: #d3d3d3; }

/***********************************************************************************************************************
/*
/* 2. Header
/*
/**********************************************************************************************************************/
#logo {
  display: block;
  margin: 2.5em auto 0px auto;
  height: 20%;
  width: 20%;
  min-width: 220px;
  min-height: 25px; }

/***********************************************************************************************************************
/*
/* 3. Terminals
/*
/**********************************************************************************************************************/
.row .col {
  padding: 0; }

.terminal {
  display: relative;
  box-sizing: border-box;
  height: 35em;
  margin-top: 2.5em;
  background-color: #212121;
  box-shadow: 10px 10px #060606; }
  .terminal p {
    margin-left: 1em; }

.top-bar {
  width: 100%;
  height: 30px;
  background: #c6c6c6; }

.icons {
  float: right; }
